body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:547px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:913px;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:447px;
  height:913px;
  display:flex;
}
#u2025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:215px;
  width:373px;
  height:20px;
  display:flex;
}
#u2027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:218px;
  width:32px;
  height:15px;
  display:flex;
  font-family:'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2028 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2028_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:223px;
  width:5px;
  height:5px;
  display:flex;
}
#u2030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:223px;
  width:5px;
  height:5px;
  display:flex;
}
#u2031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:223px;
  width:5px;
  height:5px;
  display:flex;
}
#u2032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:223px;
  width:5px;
  height:5px;
  display:flex;
}
#u2033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:223px;
  width:5px;
  height:5px;
  display:flex;
}
#u2034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:218px;
  width:44px;
  height:15px;
  display:flex;
  font-family:'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2035 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2035_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:220px;
  width:14px;
  height:10px;
  display:flex;
}
#u2036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:217px;
  width:8px;
  height:15px;
  display:flex;
}
#u2037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFUIDisplay-Light', 'SF UI Display Light', 'SF UI Display';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:218px;
  width:32px;
  height:14px;
  display:flex;
  font-family:'SFUIDisplay-Light', 'SF UI Display Light', 'SF UI Display';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2038 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2038_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:220px;
  width:22px;
  height:10px;
  display:flex;
}
#u2039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 243, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:215px;
  width:375px;
  height:60px;
  display:flex;
}
#u2041 .text {
  position:absolute;
  align-self:center;
  padding:20px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(66, 107, 242, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:245px;
  width:3px;
  height:15px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(66, 107, 242, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:254px;
  width:3px;
  height:15px;
  display:flex;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#426BF2;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:246px;
  width:82px;
  height:22px;
  display:flex;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#426BF2;
}
#u2046 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2046_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:240px;
  width:116px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:206px;
  background:inherit;
  background-color:rgba(138, 181, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:289px;
  width:357px;
  height:206px;
  display:flex;
  opacity:0.5;
}
#u2048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:247px;
  width:142px;
  height:22px;
  display:flex;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
}
#u2049 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2049_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  line-height:23px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:300px;
  width:235px;
  height:184px;
  display:flex;
  opacity:0.74;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  line-height:23px;
}
#u2052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
  line-height:23px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:300px;
  width:102px;
  height:184px;
  display:flex;
  opacity:0.74;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
  line-height:23px;
}
#u2053 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2053_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
